<!DOCTYPE html>
<html>
  <head>
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <!-- here is injected all the code from the views that DO NOT specify content_for -->
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <!-- here is going to be injected the code that is inside of content_for(:after_js) -->
    <%= yield(:after_js) %>
  </body>
</html>
